body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #000000, #ffffff);
    margin: 0;
    position: relative;
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.contact-form-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
}

.contact-form-card h2 {
    margin-bottom: 20px;
    color: #333;
}

input,
textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.btn-primary {
    background: linear-gradient(135deg, #000000, #7c7878);
}