* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #000000, #ffffff);
    margin: 0;
    position: relative;
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
}

.card h2 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

header {
    padding: 40px 4%;
    margin-top: -600px;
    margin-left: -500px;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header a {
    text-decoration: none !important;
    list-style-type: none !important;
    color: #000000;
    display: inline-block;
    transition: .2s;
    font-size: 18px;
}

header nav.menu-desktop a :hover a {
    color: #000000;
    transform: scale(1.05);
    text-decoration: none;
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}