<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find Us</h4>
                            <span>South Jakarta</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Telephone</h4>
                            <span>+(62)-21-6307848</span><br>
                            <span>+(62)-21-6307841</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Email</h4>
                            <span>urbansole.id@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a><img src="/assets/images/logo.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>UrbanSole.id is the ultimate store for those seeking style and performance! Specialists
                                in casual and sports sneakers, we offer the best models from leading brands so you can
                                rock your everyday look or improve your performance during workouts. From streetwear to
                                running, we guarantee comfort, innovation, and quality for your feet.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Products</h3>
                        </div>
                        <ul>
                            <li><a href="#">Casual Sneakers</a></li>
                            <li><a href="#">Sports Shoes</a></li>
                            <li><a href="#">Exclusive Sneakers</a></li>
                            <li><a href="#">Releases</a></li>
                            <li><a href="#">Limited Collections</a></li>
                            <li><a href="#">Outlet</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Contact Us</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Want to find the perfect sneaker or have any questions? Contact us now!</p>
                        </div>
                        <div class="contact-btn">
                            <a href="/pages/contact/contact.html" class="btn btn-primary">
                                Contact Us
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2025, All rights reserved, Titan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>